# SAP CodeUnnati - Python IntroductionüòÅ

In [4]:
print(" Vikas Manhasüòé")

 Vikas Manhasüòé

In [14]:
a = 10
print(a)

10

In [26]:
a = 10
b = 3.14
c = "surat"
d = "Code Unnati 2.0"
e = True
print(a,b,c,d,e, sep = '\n')
print(type(a),type(b), type(c),type(d),type(e))

10
3.14
surat
Code Unnati 2.0
True
<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'bool'>

In [27]:
b,c,d = 4,5,6
print(a,b,c,d)

10 4 5 6

# Python String

In [38]:
str1 = " your name"
str2 = "  your surname"
str3 = str1 + str2
print(str3)
str4 = str1*5
print(str4)

 your name  your surname
 your name your name your name your name your name

In [48]:
var = "      python is a programming language          "
print(len(var))
print(var.lower())
print(var.upper())
print(var.title())
print(var.lstrip())
print(var.rstrip())
print(var.strip())

48
      python is a programming language
      PYTHON IS A PROGRAMMING LANGUAGE
      Python Is A Programming Language
python is a programming language
      python is a programming language
python is a programming language

In [52]:
str1 = "gujarat"
str1[0:3]

'guj'

In [53]:
str1[2:6]

'jara'

In [58]:
"beautiful"[1::3]

'etu'

In [ ]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

fruits.extend([a,b,c])
print(fruits)

In [ ]:
cars = {
  "brand": "Mahindra",
  "model": "Thar",
  "year": 2010
}
cars.pop()